body {
  padding-top: 80px;
}

.navbar-inverse {
  border-bottom: 0;

  .navbar-nav {
    button {
      margin: 6px 0;
    }

    > li > a {
      color: #D2D7D3;
    }

    .active > a {
      border-right: 2px solid #E7E7E7;
      border-left: 2px solid #E7E7E7;
    }
  }
}

.navbar > .container .navbar-brand {
  color: #E7E7E7;
}

#app {
  min-height: 600px;
  height: auto !important
}

.error-msg {
  ul {
    list-style: none;
    padding-left: 0;
  }
}

footer {
  padding: 20px 0;
  background-color: #222;
}