body {
  padding-top: 80px;
}

#app {
  min-height: 600px;
  height: auto !important
}

.error-msg {
  ul {
    list-style: none;
    padding-left: 0;
  }
}

footer {
  padding: 20px 0;
  background-color: #222;
}