body {
  padding-top: 80px;
}

.navbar-inverse {
  border-width: 0;

  .navbar-nav {
    button {
      margin: 6px 0;
    }

    > li {
      margin: 0 5px;

      > a {
        color: #D2D7D3;
      }
    }

    .active > a, .active > a:focus {
      background-color: $body-bg;
      color: #333;
    }
  }
}

.navbar > .container .navbar-brand {
  color: #E7E7E7;
}

#app {
  min-height: 600px;
  height: auto !important
}

.error-msg {
  ul {
    list-style: none;
    padding-left: 0;
  }
}

footer {
  margin-top: 20px;
  padding: 20px 0;
  background-color: #222;
}